body {
    background-color: #2c394b;
    height: 100%;
}

.box-shadow {
    -webkit-box-shadow: 0 8px 17px 2px rgba(182, 182, 182, 0.14),
        0 3px 14px 2px rgba(182, 182, 182, 0.12),
        0 5px 5px -3px rgba(182, 182, 182, 0.2);
    box-shadow: 0 8px 17px 2px rgba(182, 182, 182, 0.14),
        0 3px 14px 2px rgba(182, 182, 182, 0.12),
        0 5px 5px -3px rgba(182, 182, 182, 0.2);
}

.btn-shadow {
    -webkit-box-shadow: 0px 0px 0px 3px #90a4ae;
    box-shadow: 0px 0px 0px 3px #90a4ae;
}

.btn-shadow:hover {
    -webkit-box-shadow: 0px 0px 2px 4px #90a4ae;
    box-shadow: 0px 0px 2px 4px #90a4ae;

}

.box {
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.p2 {
    padding: 2rem;
}

.p1 {
    padding: .5rem;
}


.num-btn {
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: none;
    outline: none;
}